In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
import pandas as pd
from sklearn.metrics import (
    make_scorer,
    mean_absolute_error,
    mean_squared_error,
    r2_score
)
from sklearn.model_selection import cross_validate, StratifiedKFold
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import  MLPRegressor
from sklearn.svm import SVR
import numpy as np

In [4]:
def root_mean_squared_error(y_true, y_pred):
    return np.sqrt(mean_squared_error(y_true, y_pred))

METRICS_REGRESSION = {
    "MAE": make_scorer(mean_absolute_error),
    "MSE": make_scorer(mean_squared_error),
    "RMSE": make_scorer(root_mean_squared_error),
    "R2": make_scorer(r2_score)
}

In [5]:
df = pd.read_csv("../cenario2_engine.csv")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2217 entries, 0 to 2216
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Brand_Mod         2217 non-null   object
 1   model             2217 non-null   object
 2   model_year        2217 non-null   int64
 3   KM                2217 non-null   int64
 4   fuel              2217 non-null   object
 5   HP                2217 non-null   float64
 6   Litros            2217 non-null   float64
 7   Cilindros         2217 non-null   float64
 8   transmission_mod  2217 non-null   object
 9   ext_col_mod       2217 non-null   object
 10  int_col_mod       2217 non-null   object
 11  accident_mod      2217 non-null   object
 12  clean_title_mod   2217 non-null   object
 13  price_eur         2217 non-null   int64
dtypes: float64(3), int64(3), object(8)
memory usage: 242.6+ KB

In [8]:
df['price_eur'].mean()

28081.702751465946

In [ ]:
categorical_columns = df.select_dtypes(include='object').columns

for column in categorical_columns:
    df[column] = df[column].astype('category').cat.codes

In [ ]:
X, y = df.drop("price_eur", axis=1), df["price_eur"]

In [ ]:
splitter = StratifiedKFold(n_splits=10, shuffle=True, random_state=1234)

Decision Tree

In [ ]:
dt = DecisionTreeRegressor(max_depth=3, random_state=1234)
scores_dt = cross_validate(dt, X, y, cv=splitter, scoring=METRICS_REGRESSION)
dt_scores = pd.DataFrame(scores_dt)
pd.DataFrame(dt_scores.mean()).T

   fit_time  score_time     test_MAE      test_MSE     test_RMSE   test_R2
0  0.004918    0.002205  8128.692253  1.168338e+08  10794.047986  0.638635

Random Forest

In [ ]:
rf = RandomForestRegressor(random_state=1234)
scores_rf = cross_validate(rf, X, y, cv=splitter, scoring=METRICS_REGRESSION)
rf_scores = pd.DataFrame(scores_rf)
pd.DataFrame(rf_scores.mean()).T

   fit_time  score_time     test_MAE      test_MSE    test_RMSE   test_R2
0  1.907761    0.009021  5341.927022  5.869971e+07  7645.199779  0.818805

Redes Neuronais

In [ ]:
nn = MLPRegressor(hidden_layer_sizes=(50,50), max_iter=200, random_state=1234)
scores_nn = cross_validate(nn, X, y, cv=splitter, scoring=METRICS_REGRESSION)
nn_scores = pd.DataFrame(scores_nn)
pd.DataFrame(nn_scores.mean()).T

   fit_time  score_time     test_MAE      test_MSE     test_RMSE   test_R2
0  1.532241    0.002373  8025.279427  1.125880e+08  10601.783658  0.651983

Support Vector Machine

In [ ]:
svm = SVR()
scores_svm = cross_validate(svm, X, y, cv=splitter, scoring=METRICS_REGRESSION)
svm_scores = pd.DataFrame(scores_svm)
pd.DataFrame(svm_scores.mean()).T

   fit_time  score_time      test_MAE      test_MSE     test_RMSE   test_R2
0  0.141502    0.032269  14094.199821  3.319533e+08  18212.817365 -0.024452